<div class="container" *ngFor="let movie of movies | async">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ movie.Title }}</h2>
        <div class="details">
          <h3>Actors : <p>{{ movie.Actors }}</p></h3>
          <h3>Release date : <p>{{ movie.Released }}</h3>
          <h3>Runtime : <p>{{ movie.Runtime }}</h3>
        </div>
      </div>
      <div class=" pull-right image-container">
          <img src='{{ movie.Poster }}'>
      </div>
    </div>
    </div>
  </div>
