<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">MovieStore</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/home']" href="">Home</a></li>
      <li><a [routerLink]="['/top-movies']" href="">Top 5</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Genres <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Adventure</a></li>
          <li><a href="#">Animation</a></li>
          <li><a href="#">Comedy</a></li>
          <li><a href="#">Crime</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input class="form-control" placeholder="Search" type="text">
      </div>
      <a [routerLink]="['/login']" href=""><button type="submit" class="btn btn-default">Log in</button></a>
      <a [routerLink]="['/sign-up']" href=""><button type="submit" class="btn btn-default">Sign up</button></a>
    </form>
  </div>
</div>
</nav>
<div>
<main>
    <section>
      <router-outlet></router-outlet>
    </section>
</main>
</div>
