<simple-notifications [options]="options"></simple-notifications>

<div class="container">
  <div class="jumbotron" style="width: 800px">
    <div class="row">
      <div class="col-md-6">
       <form class="form-horizontal" name="newActorsForm">
          <h1>Add Movie </h1>
            <fieldset>
              <legend>Main Information</legend>
              <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Title</label>
                  <div class="col-lg-10">
                     <input class="form-control form-validation" required="required" id="title" placeholder="Title" type="text" />
                 </div>
              </div>
              <div class="form-group">
                <label for="image" class="col-lg-2 control-label">Image URL</label>
                  <div class="col-lg-10">
                     <input class="form-control form-validation"  required="required" id="image" placeholder="Image URL" type="text" />
                 </div>
              </div>
               <div class="form-group">
                <label for="date" class="col-lg-2 control-label">Release Date</label>
                  <div class="col-lg-10">
                     <input class="form-control form-validation" required="required"  id="date" placeholder="Release Date (dd/mm/yyyy)" type="text" />
                 </div>
              </div>
              <div class="form-group">
               <label for="date" class="col-lg-2 control-label">Actors</label>
                 <div class="col-lg-10">
                    <input class="form-control form-validation" required="required"  id="actors" placeholder="Actors" type="text" />
                </div>
             </div>
             <div class="form-group">
              <label for="date" class="col-lg-2 control-label">Genre</label>
                <div class="col-lg-10">
                   <input class="form-control form-validation" required="required"  id="genre" placeholder="Actors" type="text" />
               </div>
            </div>
            <div class="form-group">
             <label for="date" class="col-lg-2 control-label">Runtime</label>
               <div class="col-lg-10">
                  <input class="form-control form-validation" required="required"  id="runtime" placeholder="Runtime in munites" type="text" />
              </div>
            </div>
           </fieldset>
      </form>
      <button class="btn btn-default">Cancel</button>
      <button class="btn btn-primary" (click)="add()">Add</button>
      <p>you can add a movie from imdb</p>
      <a [routerLink]="['/add-movie-with-imdb']">
        <button class="btn btn-primary">Add with imdb</button>
      </a>
    </div>
  </div>
 </div>
</div>
