<div class="container" *ngFor="let actionMovie of actionMovies">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ actionMovie.Title }}</h2>
        <div class="details" [hidden]='showMovieDetails'>
          <h3>Actors : <p>{{ actionMovie.Actors }}</p></h3>
          <h3>Release date : <p>{{ actionMovie.Released }}</h3>
          <h3>Runtime : <p>{{ actionMovie.Runtime }}</h3>
        </div>
      </div>
      <div class=" pull-right image-container">
          <img src='{{ actionMovie.Poster }}'>
      </div>
    </div>
    </div>
  </div>
